1. Crea il DataFrame **vendite** che contiene la quantità di torte, biscotti e taralli (colonne) nei diversi giorni della settimana (righe).

  Inserisci valori casuali compresi tra 5 e 50 (np.random.seed(100)).

In [2]:
import pandas as pd
import numpy as np

In [4]:
np.random.seed(100)

n_week_days = 7
week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
data = {
    "cakes" : np.random.randint(5, 50, size=7),
    "biscuits" : np.random.randint(5, 50, size=7),
    "taralli" : np.random.randint(5, 50, size=7) 
}

sells = pd.DataFrame(data, index=week_days)
sells

           cakes  biscuits  taralli
Monday        13        35       20
Tuesday       29        39       41
Wednesday      8         7       48
Thursday      44        39       21
Friday        28        19       14
Saturday      20        39       34
Sunday        15        29       27

2. Visualizza le vendite di torte durante tutta la settimana.

In [6]:
sells['cakes']

Monday       13
Tuesday      29
Wednesday     8
Thursday     44
Friday       28
Saturday     20
Sunday       15
Name: cakes, dtype: int64

3. Ottieni le vendite del giovedi.

In [5]:
sells.loc['Thursday']

cakes       44
biscuits    39
taralli     21
Name: Thursday, dtype: int64

4. Visualizza le vendite di biscotti e taralli dal mercoledì alla domenica.

In [10]:
sells[['biscuits', 'taralli']].loc['Wednesday':]

           biscuits  taralli
Wednesday         7       48
Thursday         39       21
Friday           19       14
Saturday         39       34
Sunday           29       27

5. Qual è il totale delle vendite per ogni prodotto durante la settimana?

In [11]:
sells.sum()

cakes       157
biscuits    207
taralli     205
dtype: int64

6. Qual è il giorno con il massimo delle vendite di torte?

In [14]:
sells['cakes'].idxmax()

'Thursday'

7. Aggiungi la colonna **Totale Vendite Giorno** che rappresenta la somma delle vendite di tutti i prodotti per ciascun giorno.

In [47]:
sells.reindex(columns=['cakes', 'biscuits', 'taralli', 'total'], fill_value=0)
sells['total'] = sells[['cakes', 'biscuits', 'taralli']].sum(axis=1)
sells

           cakes  biscuits  taralli  total
Monday        13        35       20     68
Tuesday       29        39       41    109
Wednesday      8         7       48     63
Thursday      44        39       21    104
Friday        28        19       14     61
Saturday      20        39       34     93
Sunday        15        29       27     71

8. Quanti giorni hanno avuto un totale di vendite giornaliere superiori a 80?

In [43]:
(sells['total'] > 80).sum()

np.int64(3)