# Numpy execises

Selected exercises from
https://www.machinelearningplus.com/python/101-numpy-exercises-python/

In [1]:
import numpy as np

1. Create a 1D array of numbers from 0 to 9

In [3]:
np.array(range(10))

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

2. Create a 3×3 numpy array of all True’s

In [4]:
np.ones((3,3), dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

3. Extract all odd numbers from arr

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[arr % 2]

array([1, 3, 5, 7, 9])

4. Replace all odd numbers in arr with -1

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[arr % 2] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

5. Replace all odd numbers in arr with -1 in a new output without changing arr

In [8]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
np.where(arr % 2, -1, arr)

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

6. Convert a 1D array to a 2D array with 2 rows

In [13]:
arr = np.arange(10)
arr.reshape((2,5))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

7. Stack arrays a and b vertically

In [15]:
a = np.arange(10).reshape(2,5)
b = np.ones([2,5])

In [16]:
a

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [17]:
b

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
np.concatenate([a,b])

array([[0., 1., 2., 3., 4.],
       [5., 6., 7., 8., 9.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

8. Stack the arrays a and b horizontally.

In [22]:
a = np.arange(10).reshape(2,5)
b = np.ones([2,5])

In [23]:
np.concatenate([a,b], axis=1)

array([[0., 1., 2., 3., 4., 1., 1., 1., 1., 1.],
       [5., 6., 7., 8., 9., 1., 1., 1., 1., 1.]])

9. Get the positions where elements of a and b match

In [25]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [26]:
np.where(a == b)

(array([1, 3, 5, 7]),)

10. Get all items between 5 and 10 from a.

In [32]:
a = np.array([2, 6, 1, 9, 10, 3, 27])
a[(a >= 5) & (a <= 10)]

array([ 6,  9, 10])

11. Find the mean, median, standard deviation of iris's sepallength (1st column)

In [34]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')

In [43]:
mean = np.mean(iris[:, 0].astype(float))
median = np.median(iris[:, 0].astype(float))
stddev = np.std(iris[:, 0].astype(float))
print(f'Mean: {mean}, Median: {median}, St. Dev.: {stddev}')

Mean: 5.843333333333334, Median: 5.8, St. Dev.: 0.8253012917851409

12. Create a normalized form of iris's sepallength whose values range exactly between 0 and 1 so that the minimum has value 0 and maximum has value 1.

In [44]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

In [49]:
sepallength = (sepallength - sepallength.min()) / (sepallength.max() - sepallength.min())
sepallength

array([0.22222222, 0.16666667, 0.11111111, 0.08333333, 0.19444444,
       0.30555556, 0.08333333, 0.19444444, 0.02777778, 0.16666667,
       0.30555556, 0.13888889, 0.13888889, 0.        , 0.41666667,
       0.38888889, 0.30555556, 0.22222222, 0.38888889, 0.22222222,
       0.30555556, 0.22222222, 0.08333333, 0.22222222, 0.13888889,
       0.19444444, 0.19444444, 0.25      , 0.25      , 0.11111111,
       0.13888889, 0.30555556, 0.25      , 0.33333333, 0.16666667,
       0.19444444, 0.33333333, 0.16666667, 0.02777778, 0.22222222,
       0.19444444, 0.05555556, 0.02777778, 0.19444444, 0.22222222,
       0.13888889, 0.22222222, 0.08333333, 0.27777778, 0.19444444,
       0.75      , 0.58333333, 0.72222222, 0.33333333, 0.61111111,
       0.38888889, 0.55555556, 0.16666667, 0.63888889, 0.25      ,
       0.19444444, 0.44444444, 0.47222222, 0.5       , 0.36111111,
       0.66666667, 0.36111111, 0.41666667, 0.52777778, 0.36111111,
       0.44444444, 0.5       , 0.55555556, 0.5       , 0.58333333,
       0.63888889, 0.69444444, 0.66666667, 0.47222222, 0.38888889,
       0.33333333, 0.33333333, 0.41666667, 0.47222222, 0.30555556,
       0.47222222, 0.66666667, 0.55555556, 0.36111111, 0.33333333,
       0.33333333, 0.5       , 0.41666667, 0.19444444, 0.36111111,
       0.38888889, 0.38888889, 0.52777778, 0.22222222, 0.38888889,
       0.55555556, 0.41666667, 0.77777778, 0.55555556, 0.61111111,
       0.91666667, 0.16666667, 0.83333333, 0.66666667, 0.80555556,
       0.61111111, 0.58333333, 0.69444444, 0.38888889, 0.41666667,
       0.58333333, 0.61111111, 0.94444444, 0.94444444, 0.47222222,
       0.72222222, 0.36111111, 0.94444444, 0.55555556, 0.66666667,
       0.80555556, 0.52777778, 0.5       , 0.58333333, 0.80555556,
       0.86111111, 1.        , 0.58333333, 0.55555556, 0.5       ,
       0.94444444, 0.55555556, 0.58333333, 0.47222222, 0.72222222,
       0.66666667, 0.72222222, 0.41666667, 0.69444444, 0.66666667,
       0.66666667, 0.55555556, 0.61111111, 0.52777778, 0.44444444])

13. Find the number and position of missing values in iris_2d's sepallength (1st column)

In [59]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20), ] = np.nan

In [61]:
print(np.isnan(iris_2d[:, 0]).sum())
print(np.where(np.isnan(iris_2d[:, 0])))

3
(array([34, 39, 83]),)

14. Filter the rows of iris_2d that have petallength (3rd column) > 1.5 and sepallength (1st column) < 5.0

In [67]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

In [68]:
iris_2d[(iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0)]

array([[4.8, 3.4, 1.6, 0.2],
       [4.8, 3.4, 1.9, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [4.9, 2.4, 3.3, 1. ],
       [4.9, 2.5, 4.5, 1.7]])

15. Find out if iris_2d has any missing values.

In [63]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

In [66]:
np.isnan(iris_2d).any()

np.False_

16. Replace all occurrences of nan with 0 in numpy array

In [77]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan

In [78]:
iris_2d

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, nan, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, nan, 1.4, nan],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [nan, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, nan, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, nan, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, nan, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [nan, 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [nan, 2.3, 4. , nan],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [nan, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, nan],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, nan, 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, nan, 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, nan],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, nan],
       [6.1, 3. , 4.9, 1.8],
       [nan, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, nan, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [nan, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [79]:
iris_2d[np.isnan(iris_2d)] = 0

17. Create a new column for volume in iris_2d, where volume is (pi x petallength x sepal_length^2)/3

In [107]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3,4])
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')#only to identify the columns

In [108]:
volume = (np.pi * iris_2d[:, 2] * (iris_2d[:, 0] ** 2)) / 3
volume = volume[:, np.newaxis]
np.hstack([iris_2d, volume])

array([[5.10000000e+00, 3.50000000e+00, 1.40000000e+00, 2.00000000e-01,
                   nan, 3.81326516e+01],
       [4.90000000e+00, 3.00000000e+00, 1.40000000e+00, 2.00000000e-01,
                   nan, 3.52004985e+01],
       [4.70000000e+00, 3.20000000e+00, 1.30000000e+00, 2.00000000e-01,
                   nan, 3.00723721e+01],
       [4.60000000e+00, 3.10000000e+00, 1.50000000e+00, 2.00000000e-01,
                   nan, 3.32380503e+01],
       [5.00000000e+00, 3.60000000e+00, 1.40000000e+00, 2.00000000e-01,
                   nan, 3.66519143e+01],
       [5.40000000e+00, 3.90000000e+00, 1.70000000e+00, 4.00000000e-01,
                   nan, 5.19116770e+01],
       [4.60000000e+00, 3.40000000e+00, 1.40000000e+00, 3.00000000e-01,
                   nan, 3.10221803e+01],
       [5.00000000e+00, 3.40000000e+00, 1.50000000e+00, 2.00000000e-01,
                   nan, 3.92699082e+01],
       [4.40000000e+00, 2.90000000e+00, 1.40000000e+00, 2.00000000e-01,
                   nan, 2.83832424e+01],
       [4.90000000e+00, 3.10000000e+00, 1.50000000e+00, 1.00000000e-01,
                   nan, 3.77148198e+01],
       [5.40000000e+00, 3.70000000e+00, 1.50000000e+00, 2.00000000e-01,
                   nan, 4.58044209e+01],
       [4.80000000e+00, 3.40000000e+00, 1.60000000e+00, 2.00000000e-01,
                   nan, 3.86038905e+01],
       [4.80000000e+00, 3.00000000e+00, 1.40000000e+00, 1.00000000e-01,
                   nan, 3.37784042e+01],
       [4.30000000e+00, 3.00000000e+00, 1.10000000e+00, 1.00000000e-01,
                   nan, 2.12989510e+01],
       [5.80000000e+00, 4.00000000e+00, 1.20000000e+00, 2.00000000e-01,
                   nan, 4.22732707e+01],
       [5.70000000e+00, 4.40000000e+00, 1.50000000e+00, 4.00000000e-01,
                   nan, 5.10351727e+01],
       [5.40000000e+00, 3.90000000e+00, 1.30000000e+00, 4.00000000e-01,
                   nan, 3.96971648e+01],
       [5.10000000e+00, 3.50000000e+00, 1.40000000e+00, 3.00000000e-01,
                   nan, 3.81326516e+01],
       [5.70000000e+00, 3.80000000e+00, 1.70000000e+00, 3.00000000e-01,
                   nan, 5.78398623e+01],
       [5.10000000e+00, 3.80000000e+00, 1.50000000e+00, 3.00000000e-01,
                   nan, 4.08564125e+01],
       [5.40000000e+00, 3.40000000e+00, 1.70000000e+00, 2.00000000e-01,
                   nan, 5.19116770e+01],
       [5.10000000e+00, 3.70000000e+00, 1.50000000e+00, 4.00000000e-01,
                   nan, 4.08564125e+01],
       [4.60000000e+00, 3.60000000e+00, 1.00000000e+00, 2.00000000e-01,
                   nan, 2.21587002e+01],
       [5.10000000e+00, 3.30000000e+00, 1.70000000e+00, 5.00000000e-01,
                   nan, 4.63039341e+01],
       [4.80000000e+00, 3.40000000e+00, 1.90000000e+00, 2.00000000e-01,
                   nan, 4.58421200e+01],
       [5.00000000e+00, 3.00000000e+00, 1.60000000e+00, 2.00000000e-01,
                   nan, 4.18879020e+01],
       [5.00000000e+00, 3.40000000e+00, 1.60000000e+00, 4.00000000e-01,
                   nan, 4.18879020e+01],
       [5.20000000e+00, 3.50000000e+00, 1.50000000e+00, 2.00000000e-01,
                   nan, 4.24743327e+01],
       [5.20000000e+00, 3.40000000e+00, 1.40000000e+00, 2.00000000e-01,
                   nan, 3.96427105e+01],
       [4.70000000e+00, 3.20000000e+00, 1.60000000e+00, 2.00000000e-01,
                   nan, 3.70121502e+01],
       [4.80000000e+00, 3.10000000e+00, 1.60000000e+00, 2.00000000e-01,
                   nan, 3.86038905e+01],
       [5.40000000e+00, 3.40000000e+00, 1.50000000e+00, 4.00000000e-01,
                   nan, 4.58044209e+01],
       [5.20000000e+00, 4.10000000e+00, 1.50000000e+00, 1.00000000e-01,
                   nan, 4.24743327e+01],
       [5.50000000e+00, 4.20000000e+00, 1.40000000e+00, 2.00000000e-01,
                   nan, 4.43488163e+01],
       [4.90000000e+00, 3.10000000e+00, 1.50000000e+00, 1.00000000e-01,
                   nan, 3.77148198e+01],
       [5.00000000e+00, 3.20000000e+00, 1.20000000e+00, 2.00000000e-01,
                   nan, 3.14159265e+01],
       [5.50000000e+00, 3.50000000e+00, 1.30000000e+00, 2.00000000e-01,
                   nan, 4.11810437e+01],
       [4.90000000e+00, 3.10000000e+00, 1.50000000e+00, 1.00000000e-01,
                   nan, 3.77148198e+01],
       [4.40000000e+00, 3.00000000e+00, 1.30000000e+00, 2.00000000e-01,
                   nan, 2.63558680e+01],
       [5.10000000e+00, 3.40000000e+00, 1.50000000e+00, 2.00000000e-01,
                   nan, 4.08564125e+01],
       [5.00000000e+00, 3.50000000e+00, 1.30000000e+00, 3.00000000e-01,
                   nan, 3.40339204e+01],
       [4.50000000e+00, 2.30000000e+00, 1.30000000e+00, 3.00000000e-01,
                   nan, 2.75674755e+01],
       [4.40000000e+00, 3.20000000e+00, 1.30000000e+00, 2.00000000e-01,
                   nan, 2.63558680e+01],
       [5.00000000e+00, 3.50000000e+00, 1.60000000e+00, 6.00000000e-01,
                   nan, 4.18879020e+01],
       [5.10000000e+00, 3.80000000e+00, 1.90000000e+00, 4.00000000e-01,
                   nan, 5.17514558e+01],
       [4.80000000e+00, 3.00000000e+00, 1.40000000e+00, 3.00000000e-01,
                   nan, 3.37784042e+01],
       [5.10000000e+00, 3.80000000e+00, 1.60000000e+00, 2.00000000e-01,
                   nan, 4.35801733e+01],
       [4.60000000e+00, 3.20000000e+00, 1.40000000e+00, 2.00000000e-01,
                   nan, 3.10221803e+01],
       [5.30000000e+00, 3.70000000e+00, 1.50000000e+00, 2.00000000e-01,
                   nan, 4.41236688e+01],
       [5.00000000e+00, 3.30000000e+00, 1.40000000e+00, 2.00000000e-01,
                   nan, 3.66519143e+01],
       [7.00000000e+00, 3.20000000e+00, 4.70000000e+00, 1.40000000e+00,
                   nan, 2.41169596e+02],
       [6.40000000e+00, 3.20000000e+00, 4.50000000e+00, 1.50000000e+00,
                   nan, 1.93019453e+02],
       [6.90000000e+00, 3.10000000e+00, 4.90000000e+00, 1.50000000e+00,
                   nan, 2.44299670e+02],
       [5.50000000e+00, 2.30000000e+00, 4.00000000e+00, 1.30000000e+00,
                   nan, 1.26710904e+02],
       [6.50000000e+00, 2.80000000e+00, 4.60000000e+00, 1.50000000e+00,
                   nan, 2.03522844e+02],
       [5.70000000e+00, 2.80000000e+00, 4.50000000e+00, 1.30000000e+00,
                   nan, 1.53105518e+02],
       [6.30000000e+00, 3.30000000e+00, 4.70000000e+00, 1.60000000e+00,
                   nan, 1.95347373e+02],
       [4.90000000e+00, 2.40000000e+00, 3.30000000e+00, 1.00000000e+00,
                   nan, 8.29726036e+01],
       [6.60000000e+00, 2.90000000e+00, 4.60000000e+00, 1.30000000e+00,
                   nan, 2.09833257e+02],
       [5.20000000e+00, 2.70000000e+00, 3.90000000e+00, 1.40000000e+00,
                   nan, 1.10433265e+02],
       [5.00000000e+00, 2.00000000e+00, 3.50000000e+00, 1.00000000e+00,
                   nan, 9.16297857e+01],
       [5.90000000e+00, 3.00000000e+00, 4.20000000e+00, 1.50000000e+00,
                   nan, 1.53102376e+02],
       [6.00000000e+00, 2.20000000e+00, 4.00000000e+00, 1.00000000e+00,
                   nan, 1.50796447e+02],
       [6.10000000e+00, 2.90000000e+00, 4.70000000e+00, 1.40000000e+00,
                   nan, 1.83141238e+02],
       [5.60000000e+00, 2.90000000e+00, 3.60000000e+00, 1.30000000e+00,
                   nan, 1.18224415e+02],
       [6.70000000e+00, 3.10000000e+00, 4.40000000e+00, 1.40000000e+00,
                   nan, 2.06838272e+02],
       [5.60000000e+00, 3.00000000e+00, 4.50000000e+00, 1.50000000e+00,
                   nan, 1.47780518e+02],
       [5.80000000e+00, 2.70000000e+00, 4.10000000e+00, 1.00000000e+00,
                   nan, 1.44433675e+02],
       [6.20000000e+00, 2.20000000e+00, 4.50000000e+00, 1.50000000e+00,
                   nan, 1.81144232e+02],
       [5.60000000e+00, 2.50000000e+00, 3.90000000e+00, 1.10000000e+00,
                   nan, 1.28076449e+02],
       [5.90000000e+00, 3.20000000e+00, 4.80000000e+00, 1.80000000e+00,
                   nan, 1.74974144e+02],
       [6.10000000e+00, 2.80000000e+00, 4.00000000e+00, 1.30000000e+00,
                   nan, 1.55864884e+02],
       [6.30000000e+00, 2.50000000e+00, 4.90000000e+00, 1.50000000e+00,
                   nan, 2.03660027e+02],
       [6.10000000e+00, 2.80000000e+00, 4.70000000e+00, 1.20000000e+00,
                   nan, 1.83141238e+02],
       [6.40000000e+00, 2.90000000e+00, 4.30000000e+00, 1.30000000e+00,
                   nan, 1.84440810e+02],
       [6.60000000e+00, 3.00000000e+00, 4.40000000e+00, 1.40000000e+00,
                   nan, 2.00710071e+02],
       [6.80000000e+00, 2.80000000e+00, 4.80000000e+00, 1.40000000e+00,
                   nan, 2.32427591e+02],
       [6.70000000e+00, 3.00000000e+00, 5.00000000e+00, 1.70000000e+00,
                   nan, 2.35043490e+02],
       [6.00000000e+00, 2.90000000e+00, 4.50000000e+00, 1.50000000e+00,
                   nan, 1.69646003e+02],
       [5.70000000e+00, 2.60000000e+00, 3.50000000e+00, 1.00000000e+00,
                   nan, 1.19082070e+02],
       [5.50000000e+00, 2.40000000e+00, 3.80000000e+00, 1.10000000e+00,
                   nan, 1.20375359e+02],
       [5.50000000e+00, 2.40000000e+00, 3.70000000e+00, 1.00000000e+00,
                   nan, 1.17207586e+02],
       [5.80000000e+00, 2.70000000e+00, 3.90000000e+00, 1.20000000e+00,
                   nan, 1.37388130e+02],
       [6.00000000e+00, 2.70000000e+00, 5.10000000e+00, 1.60000000e+00,
                   nan, 1.92265470e+02],
       [5.40000000e+00, 3.00000000e+00, 4.50000000e+00, 1.50000000e+00,
                   nan, 1.37413263e+02],
       [6.00000000e+00, 3.40000000e+00, 4.50000000e+00, 1.60000000e+00,
                   nan, 1.69646003e+02],
       [6.70000000e+00, 3.10000000e+00, 4.70000000e+00, 1.50000000e+00,
                   nan, 2.20940881e+02],
       [6.30000000e+00, 2.30000000e+00, 4.40000000e+00, 1.30000000e+00,
                   nan, 1.82878392e+02],
       [5.60000000e+00, 3.00000000e+00, 4.10000000e+00, 1.30000000e+00,
                   nan, 1.34644472e+02],
       [5.50000000e+00, 2.50000000e+00, 4.00000000e+00, 1.30000000e+00,
                   nan, 1.26710904e+02],
       [5.50000000e+00, 2.60000000e+00, 4.40000000e+00, 1.20000000e+00,
                   nan, 1.39381994e+02],
       [6.10000000e+00, 3.00000000e+00, 4.60000000e+00, 1.40000000e+00,
                   nan, 1.79244616e+02],
       [5.80000000e+00, 2.60000000e+00, 4.00000000e+00, 1.20000000e+00,
                   nan, 1.40910902e+02],
       [5.00000000e+00, 2.30000000e+00, 3.30000000e+00, 1.00000000e+00,
                   nan, 8.63937980e+01],
       [5.60000000e+00, 2.70000000e+00, 4.20000000e+00, 1.30000000e+00,
                   nan, 1.37928484e+02],
       [5.70000000e+00, 3.00000000e+00, 4.20000000e+00, 1.20000000e+00,
                   nan, 1.42898483e+02],
       [5.70000000e+00, 2.90000000e+00, 4.20000000e+00, 1.30000000e+00,
                   nan, 1.42898483e+02],
       [6.20000000e+00, 2.90000000e+00, 4.30000000e+00, 1.30000000e+00,
                   nan, 1.73093378e+02],
       [5.10000000e+00, 2.50000000e+00, 3.00000000e+00, 1.10000000e+00,
                   nan, 8.17128249e+01],
       [5.70000000e+00, 2.80000000e+00, 4.10000000e+00, 1.30000000e+00,
                   nan, 1.39496139e+02],
       [6.30000000e+00, 3.30000000e+00, 6.00000000e+00, 2.50000000e+00,
                   nan, 2.49379625e+02],
       [5.80000000e+00, 2.70000000e+00, 5.10000000e+00, 1.90000000e+00,
                   nan, 1.79661401e+02],
       [7.10000000e+00, 3.00000000e+00, 5.90000000e+00, 2.10000000e+00,
                   nan, 3.11456448e+02],
       [6.30000000e+00, 2.90000000e+00, 5.60000000e+00, 1.80000000e+00,
                   nan, 2.32754317e+02],
       [6.50000000e+00, 3.00000000e+00, 5.80000000e+00, 2.20000000e+00,
                   nan, 2.56615760e+02],
       [7.60000000e+00, 3.00000000e+00, 6.60000000e+00, 2.10000000e+00,
                   nan, 3.99208462e+02],
       [4.90000000e+00, 2.50000000e+00, 4.50000000e+00, 1.70000000e+00,
                   nan, 1.13144459e+02],
       [7.30000000e+00, 2.90000000e+00, 6.30000000e+00, 1.80000000e+00,
                   nan, 3.51572492e+02],
       [6.70000000e+00, 2.50000000e+00, 5.80000000e+00, 1.80000000e+00,
                   nan, 2.72650449e+02],
       [7.20000000e+00, 3.60000000e+00, 6.10000000e+00, 2.50000000e+00,
                   nan, 3.31148998e+02],
       [6.50000000e+00, 3.20000000e+00, 5.10000000e+00, 2.00000000e+00,
                   nan, 2.25644892e+02],
       [6.40000000e+00, 2.70000000e+00, 5.30000000e+00, 1.90000000e+00,
                   nan, 2.27334022e+02],
       [6.80000000e+00, 3.00000000e+00, 5.50000000e+00, 2.10000000e+00,
                   nan, 2.66323281e+02],
       [5.70000000e+00, 2.50000000e+00, 5.00000000e+00, 2.00000000e+00,
                   nan, 1.70117242e+02],
       [5.80000000e+00, 2.80000000e+00, 5.10000000e+00, 2.40000000e+00,
                   nan, 1.79661401e+02],
       [6.40000000e+00, 3.20000000e+00, 5.30000000e+00, 2.30000000e+00,
                   nan, 2.27334022e+02],
       [6.50000000e+00, 3.00000000e+00, 5.50000000e+00, 1.80000000e+00,
                   nan, 2.43342531e+02],
       [7.70000000e+00, 3.80000000e+00, 6.70000000e+00, 2.20000000e+00,
                   nan, 4.15991897e+02],
       [7.70000000e+00, 2.60000000e+00, 6.90000000e+00, 2.30000000e+00,
                   nan, 4.28409565e+02],
       [6.00000000e+00, 2.20000000e+00, 5.00000000e+00, 1.50000000e+00,
                   nan, 1.88495559e+02],
       [6.90000000e+00, 3.20000000e+00, 5.70000000e+00, 2.30000000e+00,
                   nan, 2.84185330e+02],
       [5.60000000e+00, 2.80000000e+00, 4.90000000e+00, 2.00000000e+00,
                   nan, 1.60916565e+02],
       [7.70000000e+00, 2.80000000e+00, 6.70000000e+00, 2.00000000e+00,
                   nan, 4.15991897e+02],
       [6.30000000e+00, 2.70000000e+00, 4.90000000e+00, 1.80000000e+00,
                   nan, 2.03660027e+02],
       [6.70000000e+00, 3.30000000e+00, 5.70000000e+00, 2.10000000e+00,
                   nan, 2.67949579e+02],
       [7.20000000e+00, 3.20000000e+00, 6.00000000e+00, 1.80000000e+00,
                   nan, 3.25720326e+02],
       [6.20000000e+00, 2.80000000e+00, 4.80000000e+00, 1.80000000e+00,
                   nan, 1.93220515e+02],
       [6.10000000e+00, 3.00000000e+00, 4.90000000e+00, 1.80000000e+00,
                   nan, 1.90934482e+02],
       [6.40000000e+00, 2.80000000e+00, 5.60000000e+00, 2.10000000e+00,
                   nan, 2.40201986e+02],
       [7.20000000e+00, 3.00000000e+00, 5.80000000e+00, 1.60000000e+00,
                   nan, 3.14862982e+02],
       [7.40000000e+00, 2.80000000e+00, 6.10000000e+00, 1.90000000e+00,
                   nan, 3.49801681e+02],
       [7.90000000e+00, 3.80000000e+00, 6.40000000e+00, 2.00000000e+00,
                   nan, 4.18275835e+02],
       [6.40000000e+00, 2.80000000e+00, 5.60000000e+00, 2.20000000e+00,
                   nan, 2.40201986e+02],
       [6.30000000e+00, 2.80000000e+00, 5.10000000e+00, 1.50000000e+00,
                   nan, 2.11972681e+02],
       [6.10000000e+00, 2.60000000e+00, 5.60000000e+00, 1.40000000e+00,
                   nan, 2.18210837e+02],
       [7.70000000e+00, 3.00000000e+00, 6.10000000e+00, 2.30000000e+00,
                   nan, 3.78738891e+02],
       [6.30000000e+00, 3.40000000e+00, 5.60000000e+00, 2.40000000e+00,
                   nan, 2.32754317e+02],
       [6.40000000e+00, 3.10000000e+00, 5.50000000e+00, 1.80000000e+00,
                   nan, 2.35912664e+02],
       [6.00000000e+00, 3.00000000e+00, 4.80000000e+00, 1.80000000e+00,
                   nan, 1.80955737e+02],
       [6.90000000e+00, 3.10000000e+00, 5.40000000e+00, 2.10000000e+00,
                   nan, 2.69228207e+02],
       [6.70000000e+00, 3.10000000e+00, 5.60000000e+00, 2.40000000e+00,
                   nan, 2.63248709e+02],
       [6.90000000e+00, 3.10000000e+00, 5.10000000e+00, 2.30000000e+00,
                   nan, 2.54271085e+02],
       [5.80000000e+00, 2.70000000e+00, 5.10000000e+00, 1.90000000e+00,
                   nan, 1.79661401e+02],
       [6.80000000e+00, 3.20000000e+00, 5.90000000e+00, 2.30000000e+00,
                   nan, 2.85692247e+02],
       [6.70000000e+00, 3.30000000e+00, 5.70000000e+00, 2.50000000e+00,
                   nan, 2.67949579e+02],
       [6.70000000e+00, 3.00000000e+00, 5.20000000e+00, 2.30000000e+00,
                   nan, 2.44445230e+02],
       [6.30000000e+00, 2.50000000e+00, 5.00000000e+00, 1.90000000e+00,
                   nan, 2.07816354e+02],
       [6.50000000e+00, 3.00000000e+00, 5.20000000e+00, 2.00000000e+00,
                   nan, 2.30069302e+02],
       [6.20000000e+00, 3.40000000e+00, 5.40000000e+00, 2.30000000e+00,
                   nan, 2.17373079e+02],
       [5.90000000e+00, 3.00000000e+00, 5.10000000e+00, 1.80000000e+00,
                   nan, 1.85910028e+02]])

18. Find the most frequent value of petal length (3rd column) in iris dataset.

In [109]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

In [113]:
values, counts = np.unique(iris[:, 2], return_counts=True)
values[counts.argmax()]

b'1.5'

19. From the array a, replace all values greater than 30 to 30 and less than 10 to 10.

In [119]:
np.random.seed(100)
a = np.random.uniform(1,50, 20)

In [121]:
a[a > 30] = 30
a[a < 10] = 10
a

array([27.62684215, 14.64009987, 21.80136195, 30.        , 10.        ,
       10.        , 30.        , 30.        , 10.        , 29.17957314,
       30.        , 11.25090398, 10.08108276, 10.        , 11.76517714,
       30.        , 30.        , 10.        , 30.        , 14.42961361])

20.  Drop all nan values from a 1D numpy array

In [124]:
a = np.array([1,2,3,np.nan,5,6,7,np.nan])
a = a[~np.isnan(a)]
a

array([1., 2., 3., 5., 6., 7.])